<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="http://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</head>
        
<body>  
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">User Profile</p>
        <form method="POST" action="/user/update">
            <label>Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username"><br><br>
            <label>First Name:</label>
            <input type="text" id="fname" name="fname" ng-model="user.fname"><br><br>  
            <label>Last Name:</label>
            <input type="text" id="lname" name="lname" ng-model="user.lname"><br><br>  
            <label>Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email"><br><br>
            <label>Favorite Color:</label>
            <input type="text" id="color" name="color" ng-model="user.color"><br><br>   
            <input type="submit" id="save" value="Save">
        </form><br>
    </div>
    <form method="POST" action="/user/delete">
        <input type="submit" id="delete" value="Delete User">
    </form>
    <hr>
    <span id="userMsg">
        <%= msg %>
    </span>
    <a id="homeLink" href="/">Home</a>
</body>

</html>